#img {
  width: 1000px;
}

body {
  text-align: center;
}

.ourSchool_mainDiv img {
  width: 1000px;
}

.Campuslife_mainDiv img {
  width: 1000px;
}
.ourAchievements_mainDiv img{
  width: 1000px;
}
.WhatsNew_mainDiv img{
  width: 1000px;
}
